@charset "utf-8";
header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.head_box{
    display: inline-block;
}
.company_name{
    font-weight: bold;
    line-height: 45px;
}
.company_name a{
    font-size: 30px;
}
.company_name span{
    font-size: 30px;
    color: rgba(109, 77, 66, 1);
}
.login{
    font-weight: bold;
    line-height: 45px;
}
.login a{
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
.slide_img{
    width: 100%;
        height: 200px;
        padding-top: 10px;
        background-image: url(../../resources/Jaeheon/images/mainimage.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: white;
        font-size: 230%;
        font-family: "굴림";
        line-height: 100px;
}
.question_main{
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 90px;
}
.qna1{
    text-align: left;
}
.qna1 p{
    margin-left: 100px;
    margin-top: 50px;
}
.qna2 p{
    margin-left: 100px;
    margin-top: 50px;
}
.qna2{
    text-align: left;
}
.help h2{
    font-size: 25px;
    padding-left: 90px;
}
.help p{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 150px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    
}

