@charset "utf-8";

*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    border-collapse: collapse;
}
#logo{
    padding-left: 30px;
    padding-right: 480px;
}
.header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    z-index: 10;
}
.header ul{
    display: flex;
}
.navTop{
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.navTop:hover{
    transform: translateY(-3px);
}
.navInfo{
    font-size: 25px;
    align-items: center;
    color: aquamarine;
}
.main{
    padding-top: 80px;
    padding-bottom: 50px;
}

@keyframes img {
    0% {opacity: 1;}
    45% {opacity: 1;}
    55% {opacity: 0;}
    100% {opacity: 0;}
}
.mainImg{
    width: 100%;
    height: 350px;
    position: relative;
}


h1{width: 1280px; margin: 0 auto; display: flex; font-size: 45px; padding: 20px 0 50px 0;}

.faq{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.q {
    font-size: 20px;
    cursor: pointer;
    padding: 0 0 10px 0;
    margin-left: 10px;
}
.q p::before{
    content : "Q. ";
    font-size: 30px;
    font-weight: 700;
    left: 10px;
}
.faq_box:hover {
    background: rgb(202, 202, 202);
    transition: all 1s;
}

.a_box{
    position: relative;
    display: none;
    padding: 40px;
    background: rgb(218, 218, 218);
}
.a_box::before{
    position: absolute;
    content : "A. "; 
    display: block;
    font-size: 30px;
    font-weight: 700;
    top: 30px;
    left: 30px;
}
.a > p{
    padding: 0px 30px 30px 40px;
}





.footer_top{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    padding-bottom: 10px;
    justify-content: space-between;
}
.footer_top li{
    float: left; margin-top: 10px; padding: 0 20px; font-size: 14px;
}
.footer_top li+li{
    border-left: 1px solid #000;
}
.footer_middle, .footer_bottom{
    width: 1280px;
    margin: 20px auto;
}
.footer_middle li{
    float: right; padding: 5px;
}